
.vs/

Debug/
Release/

*.obj
*.o
*.exe
*.ilk
*.pdb
*.log

*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

*.vs/
*.vscode/
*.log

assets/*.png
assets/*.jpg

CMakeFiles/
CMakeCache.txt

*~
*.swp
.DS_Store
